# Fichiers secrets (NE JAMAIS PARTAGER)
.env

# Dossiers systèmes et Python inutiles
venv/
__pycache__/
.DS_Store

# Fichiers de cache
*.cache
.cache/
.cache/**
**/*.cache
**/.cache/

# Cache Streamlit
.streamlit/

# Cache LangChain/LangSmith
.langchain/
.langsmith/